@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/barlow-v5-latin-regular.woff2') format('woff2'),
    url('../fonts/barlow-v5-latin-regular.woff') format('woff'); 
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/barlow-v5-latin-700.woff2') format('woff2'),
    url('../fonts/barlow-v5-latin-700.woff') format('woff'); 
}

@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/fraunces-v10-latin-regular.woff2') format('woff2'), 
    url('../fonts/fraunces-v10-latin-regular.woff') format('woff'); 
}

@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('../fonts/fraunces-v10-latin-900.woff2') format('woff2'), 
    url('../fonts/fraunces-v10-latin-900.woff') format('woff'); 
    
}




html {
height: 100%;
box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
scroll-behavior: smooth;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}

body {
height: 100%;
display: flex;
flex-direction: column;
font-family: 'Arial', 'sans-serif';
font-size: 16px;
line-height: 1.5;
margin: 0;
padding: 0;
}

img {
max-width: 100%;
height: auto;
vertical-align: middle;
}

li,
a {
   list-style: none;
   text-decoration: none;
   
}

.main {
flex-grow: 1;
}


.container{
    max-width: 1320px;
    padding-left: 25px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding-bottom: 15px;
}

.header .container {
    display: flex;
    align-items: center;
}

.nav {
    margin-left:auto;
}


.nav__list {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav__item {
    padding: 16px;
}

.nav__link {
    display: inline-block;
    font-family: 'Barlow';
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color:  #83888F;
}

.nav__link:hover {
    color: #333D4B;
} 

.nav__link--actev {
    color: #333D4B;
}


/* ===hero== */

.hero .container {
    width: 1280px;
    height: 600px;
    background-image: url('./img/coffee.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.hero__item{
width: 493px;
height: 367px;
padding: 177px 85px;
}

.hero__heading {
    margin: 0;
    width: 493px;
    font-family:'Fraunces',  "Times New Roman", serif;
    font-size: 72px;
    line-height: 72px;
    font-weight: 900;
    color: #FEFCF7;
    text-align-last: left;
}

.hero__desc {
margin: 0;
padding-top: 25px;
 width: 445px;
font-family:'Barlow';
font-size: 16px;
line-height: 26px;
color: #FEFCF7;
opacity: 0.8;
}

.section-btn {
    padding: 15px 15px;
    margin-top: 20px;
    font-family: "Fraunces", "Times New Roman", serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 900;
    color: #FEFCF7;
    text-decoration: none;
    background-color: #fff;
    background: #0E8784;
    border-radius: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.section-btn:hover {
    background-color: #66D2CF;
    transition: background-color 0.5s ease;
}



/* =====products==== */

.products {
    padding: 200px 0;
    background-image: url("./img/ourcollection.jpg");
    background-size: 1111px 196px;
    background-repeat: no-repeat;
    background-position: left calc(50% + 0px) top 80px;
}

.product{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.products__item {
    width: 230px;
}

.product__img{
  margin-left: 20px;
}


.product__heading {
 margin-top: 0px;
 margin-bottom: 24px; 
padding: 0px ;  
font-family: 'Fraunces' "Times New Roman", serif;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
color: #333D4B;
text-align: center;
}

.product__desc {
    width: 255px;
    height: 78px;
    margin: 0;
    padding: 0;
    color: #333d4b;
    text-align: center;
}

.about-container {
    position: relative;
    padding-top: 110px;
}

.about-container::before {
    position: absolute;
    top: 0;
    z-index: -1;
    content: "";
    display: block;
    width: 1280px;
    height: 577px;
    background-color: #2C343E;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 10px;
}

.about__top {
   width: 570px;
   margin: 0 auto;
   
}

.about__heading {
   
    display: flex;
    justify-content: center;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}

.about__desc {
    width: 570px;
    margin-bottom: 86px;
    text-align: center;
}

.about__list{
    display: flex;
    justify-content: space-between;
    width: 1110px;
    margin: 0 auto;
    padding: 0;
}

.about__list__item {
    width: 350px;
    padding: 72px 48px 48px 48px;
    background-color: #0E8784;
    border-radius: 10px;
}

.about__list__item:nth-child(1)::before {
    content: "";
    display: block;
    width: 72px;
    height: 72px;
    margin: 0 auto;
    margin-bottom: 56px;
    background-image: url('./img/cofe.svg');
    background-repeat: no-repeat;
}

.about__list__item:nth-child(2)::before {
    content: "";
    display: block;
    width: 72px;
    height: 72px;
    margin: 0 auto;
    margin-bottom: 56px;
    background-image: url('./img/sovga.svg');
    background-repeat: no-repeat;
}

.about__list__item:nth-child(3)::before {
    content: "";
    display: block;
    width: 72px;
    height: 72px;
    margin: 0 auto;
    margin-bottom: 56px;
    background-image: url('./img/kamaz.svg');
    background-repeat: no-repeat;
}

.about__list__heading {
    color: #FEFCF7;
}

.about__list__desc {
    color: #FEFCF7;
}



/* How it works */

.work {
    padding: 200px 0;
}

.work__heading {
    display: flex;
    justify-content: flex-start;
    color: #83888F;
    margin-bottom: 80px;
}

.work-list {
    position: relative;
    top: 0;
    width: 1045px;
    margin: 0;
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
}

.work-list::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 791px;
    height: 31px;
    background-image: url("./img/work-line.svg");
    background-repeat: no-repeat;
}

.work-list__item {
    width: 290px;

}

.work-list__item:nth-child(1)::before {
    content: "";
    display: block;
    width: 95px;
    height: 72px;
    background-image: url("./img/01.svg");
    background-repeat: no-repeat;
}

.work-list__item:nth-child(2)::before {
    content: "";
    display: block;
    width: 95px;
    height: 72px;
    background-image: url("./img/02.svg");
    background-repeat: no-repeat;
}

.work-list__item:nth-child(3)::before {
    content: "";
    display: block;
    width: 95px;
    height: 72px;

    background-image: url("./img/03.svg");
    background-repeat: no-repeat;
}

.work-list__heading {
    width: 255px;
    margin-top: 0;
    margin-bottom: 42px;
    padding: 0;
    font-family: "Fraunces", "Times New Roman", serif;
    font-style: normal;
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    color: #333D4B;
    text-align: left;
}

.work-list__desc {
    margin: 0;
    padding: 0;
    color: #333D4B;
}

/* Footer */

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 85px;
    background-color: #2C343E;
}

.footer-left {
    width: 620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-link--active {
    color: #FEFCF7;
}

.f-nav__link:hover {
    color: #FEFCF7;
}

.footer-links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-links__item + .footer-links__item {
    margin-left: 24px;
}

.work__link {
    margin-top: 40px;
}